// NAVBAR

.navbar-container {
  //   background-color: #2d2d2a;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #dad6d6;
  .navbar-links {
    font-weight: 700;
    font-size: 1.2em;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }

  .navbar-header {
    margin-left: 20px;
    font-size: 2em;
  }
  .navbar-header:hover {
    cursor: pointer;
  }
}

.navbar-init {
  background-color: transparent;
  .navbar-link {
    box-shadow: inset 0 0 0 0 #dad6d6;
    transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  .navbar-link:hover {
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 #dad6d6;
    color: #2d2d2a;
  }
}

.navbar-scroll {
  transition: background-color 200ms linear;
  background-color: #dad6d6;
  color: #2d2d2a;
  .navbar-link {
    box-shadow: inset 0 0 0 0 #2d2d2a;
    transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  .navbar-link:hover {
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 #2d2d2a;
    color: #dad6d6;
  }
}
// HERO

.hero-img__container {
  width: 100vw;
  height: 100vh;
  .hero-img__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('./img/coding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    flex-basis: 100%;
    width: 100%;
    height: 100%;

    p {
      //   border: 1px solid black;
      background-color: #2d2d2a;
      font-size: 1.5em;
      color: #dad6d6;
    }
    h1 {
      background-color: #dad6d6;
      font-size: 2.5em;
      color: #2d2d2a;
    }
  }
}

// BUTTON

.button-container {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}

.button-container:hover,
.button-container:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-container:hover {
  transform: translateY(-1px);
}

.button-container:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
